.button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: var(--accent);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: var(--accent-foreground);
}
