@font-face {
  font-family: 'Nunito Sans';
  src: url('./NunitoSans-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./NunitoSans-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(255, 255, 255, 0.9);
  --foreground: rgba(255, 255, 255, 0.9);

  --border-window: rgba(0, 0, 0, 0.11);

  --accent: #608cd3;
  --accent-foreground: #477acc;

  --font: #1f2937;
  --font-secondary: #374151;

  --success: #10b981;
  --warning: #f59e0b;
  --error: #ef4444;
}

html.dark {
  --background: rgba(29, 29, 31, 0.9);
  --foreground: rgba(45, 45, 48, 0.9);

  --border-window: rgba(255, 255, 255, 0.08);

  --accent: #628aca;
  --accent-foreground: #4e77b8;

  --font: #f3f4f6;
  --font-secondary: #a3a3a3;

  --success: #34d399;
  --warning: #fbbf24;
  --error: #f87171;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body,
#root {
  border-radius: 16px;
  overflow: hidden;
  height: 100vh;
  background-color: transparent !important;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.d2msg {
  background: var(--background);
  transition: background 0.2s ease-in-out;
  width: 100vw;
  height: 100vh;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid var(--border-window);
  position: relative;
}
