.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.trigger {
  width: 300px;
}

.title {
  color: var(--font);
  font-size: 1.5rem;
  font-weight: bold;
}

.selectItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}

.selected {
  display: flex;
  font-size: 0.875rem;
  color: var(--font);
  margin-top: 1rem;
  gap: 0.5rem;
  opacity: 0.5;
}

.selectedLang {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--font);
  font-weight: bold;
}

.selectPopover {
  -webkit-app-region: no-drag;
}

.flag {
  width: 20px;
  height: 15px;
  border-radius: 3px;
  pointer-events: none;
}
